<body class="text-center">
  <div class="form-signin">
    <h2>Sign up below</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="field">
            <%= f.email_field :email, placeholder: "Email", class: "form-control", style: 'width:100%;'%>
          </div>

          <div class="field">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, placeholder: "New password", class: "form-control", style: 'width:100%;'%>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: "Re-type new password", class: "form-control", style: 'width:100%;'%>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-danger btn-block" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</body>
